<h2>Edit Category</h2>

<%= form_for @category do |f| %>
    <!-- Check for errors -->
    <% if @category.errors.any? %>
        <% @category.errors.full_messages.each do |msg| %>
            <!-- Show errors -->
            <div class="alert alert-danger"><%= msg %></div>
        <% end %>
    <% end %>

    <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: 'form-control' %><br />
    </div>

    <%= f.submit "Submit", class: 'btn btn-dark' %>
    <%= link_to "Cancel", category_path(params[:id]), class: 'btn btn-dark' %>
<% end %>
<br>
<h4 class="page-header">Images in <%= @category.name %></h4>
<div id="edit_images">
    <% if @images.exists? %>
        <% @images.each_slice(6) do |image| %>
            <div class="row">
                <% image.each do |image| %>
                    <div class="col-md-2">
                        <%= image_tag image.image_url(:thumb) %>
                        <center><%= link_to "Delete", image_path(image), class: 'delete', method: :delete, data: {confirm: 'Are you sure?'} %> </center>
                    </div>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>